<%- include("_header") -%> A. Tom Page 17 of 18 Fall 2024, IS 445/545 Tutorial
14 Lab
<h3>Click on submit to export all database records to export.csv</h3>
<form action="/output" method="post">
  <input type="submit" id="submit" value="Download" />
</form>
<% if(message.substring(0,5)==="Error" ) { %>
<h2>Error!</h2>
<p><%= message %></p>
<% } %> <%- include("_footer") -%>
